:root {
    --primary-color : #111827;
    --secondary-color : #472b3b;
    --box-shadow-primary-color: 0 20px 50px #111827;
    --box-shadow-secondary-color: 0 20px 50px #472b3b;
}


body.body {
    background-color: var(--primary-color)!important;
}

.background-primary {
    background-color: var(--primary-color)!important;
}
.background-secondary {
    background-color: var(--secondary-color)!important;
}
