:root {
    --secondary-color : #472b3b;
    --primary-color : #111827;
    --background-body : #111827;
    --box-shadow-primary-color: 0 20px 50px #472b3b;
}
 .box.sha.primary {
    box-shadow: 0 20 50px var(--primary-color);
 }
 .box.sha.secondary {
    box-shadow: 0 20 50px var(--secondary-color);
 }

body.body{
    background-color:var(--background-body);
    margin-top: 10%!important;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
}
body {
    background-color:var(--background-body);
    margin-top: 10%!important;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

/* page Acceuil */

.div-img-solde {
    width: 33%!important
}

.div-img-solde {
    width: fit-content !important;
}

.div-img-solde>img {
    width: 20px!important; /* Utilisez un pourcentage pour définir la largeur de l'image */
    height: auto!important; /* Conserve le ratio hauteur-largeur de l'image */
}

.solde {
    box-shadow: 0 0 10px var(--secondary-color);
}
